body {
  height: 100%;
  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
*/ #app {
  max-width: 850px;
  margin: 0 auto;
}

.app {
  display: grid;
  height: 100%;
  grid-template-columns: 14.15rem 1fr;
  grid-template-areas: "nav main";
}

.app-nav {
  grid-area: nav;
}

.app-main {
  grid-area: main;
}

.primary {
  min-height: 400px;
  width: 100%;
  text-align: left;
  margin: 5px;
  padding: 2px;
  background-color: #faf8f8;
}

nav {
  height: 25px;
  width: 100%;
  background-color: #faf8f8;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 22px;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

.comparison-button {
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  width: 175px;
}

.iteration-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
  width: 100%;
  text-align: left;
  margin: 5px;
  padding: 2px;
}

.left-box {
  flex: 3;
}

.right-box {
  flex: 1;
}

.iteration-image {
  max-width: 100%;
  object-fit: contain;
}

.iteration-image-container {
  display: flex;
  margin: 1.5px;
  width: 12rem;
  height: 27rem;
  /* width: 20%; */
  /* height: auto; */
  background-color: white;
  border: solid gray 1px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
}

.iteration-image-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
